@model QuizzyPop.ViewModels.QuizMetaDataViewModel

<div class="card">
    <div class="card-title">Quiz Details</div>
    <div class="form-row">
        <label for="Title">Quiz Title:</label>
        <input id="Title" name="Title" type="text" class="i-text" value="@Model.Title" />
    </div>
    <div class="form-row">
        <label for="Description">Description</label>
        <textarea id="Description" name="Description" rows="2" class="i-text">@Model.Description</textarea>
    </div>
    <div class="form-row-2">
        <div style="display: flex; flex-direction: column;">
            <label for="Category">Category</label>
            <input id="Category" name="Category" type="text" class="i-text" value="@Model.Category" />
        </div>
        <div style="display: flex; flex-direction: column;">
            <label for="Difficulty">Difficulty</label>
            <select id="Difficulty" name="Difficulty" class="i-text">
                <option value="">Select</option>
                @if (Model.Difficulty == "Easy") {
                    <option value="Easy" selected>Easy</option>
                } else {
                    <option value="Easy">Easy</option>
                }
                @if (Model.Difficulty == "Medium") {
                    <option value="Medium" selected>Medium</option>
                } else {
                    <option value="Medium">Medium</option>
                }
                @if (Model.Difficulty == "Hard") {
                    <option value="Hard" selected>Hard</option>
                } else {
                    <option value="Hard">Hard</option>
                }
            </select>
        </div>
        <div style="display: flex; flex-direction: row; align-items: flex-end; gap: 1rem;">
            <div style="display: flex; flex-direction: column;">
                <label for="TimeLimit">Time Limit</label>
                <input id="TimeLimit" name="TimeLimit" type="number" class="i-text i-small" value="@Model.TimeLimit" />
            </div>
            <label class="switch" style="margin-bottom: 0.3rem;">
                <input type="checkbox" name="IsPublic" @(Model.IsPublic ? "checked" : "") />
                <span class="slider"></span>
                <span class="switch-text">Publicly Visible</span>
            </label>
        </div>
    </div>
</div>